    <h1>Welcome to the Animal Shelter</h1>

<p>The Scottish Animal Shelter takes in orphaned or stray animals and takes care of them until they can be adopted by a new owner. The shelter has a list of potential new owners and a list of all the animals that have been adopted. Animals may take a while to be trained up and made healthy before being available for adoption.
Here is our database system to help keep track of all animals and owners that go through the shelter.</p>
