<h3>Here's a list of all our animals in the Shelter:</h3>

<% for animal in @animals %>

  <p><%= animal.name() %></p>

  <p> <a href="/animals/<%=animal.id%>"> Show Details </a> </p>

<% end%>

<p> <a href="/animal/new"> Add a new animal </a>
