<h3>New Animal</h3>

<div>
  <form action="/animals" method="post">
    <p>Name:
    <input type="text" name="name"><br></p>
    <p>Breed:
    <input type="text" name="breed"><br></p>
    <p>Adoptable:
    <input type="text" name="adoptable"><br><p>
    <p>Admission date:
    <input type="date" name="admission_date"><br><p>

    <input class="btn btn--action" type='submit' value="Add">
  </form>
</div>
