<h3>New Animal</h3>

<div class="form">
  <form action="/animals" method="post" class="add-form">
    <div class="input-form">
      <label for="name">Name</label>
      <input type="text" name="name">

      <label for="breed">Breed</label>
      <input type="text" name="breed">

      <label for="adoptable">Adoptable</label>
      <select  name="adoptable">
        <option value="Ready for adoption">Ready for adoption</option>
        <option value="Not ready for adoption">not ready for adoption</option>
        <option value="Needs to see the vet">Needs to see the vet</option>
      </select>

      <label for="admission_date">Admission date</label>
      <input type="date" name="admission_date">
    </div>
    <input class="btn btn--action" type='submit' value="Add">
  </form>
</div>
