<h3>New Animal</h3>

<form action="/animals" method="post">
  Name:
  <input type="text" name="name"><br>
  Breed:
  <input type="text" name="breed"><br>
  Adoptable:
  <input type="text" name="adoptable"><br>
  Admission date:
  <input type="date" name="admission_date"><br>

  <input class="btn btn--action" type='submit' value="Add">
</form>
