<!DOCTYPE html>
  <html>
    <head>
      <title>Animal Shelter</title>

      <link rel="icon" href="/images/house.png">

      <link rel="stylesheet" type="text/css" href="/structure.css">
      <link rel="stylesheet" type="text/css" href="/forms.css">
      <link rel="stylesheet" type="text/css" href="/buttons.css">

    </head>
      <body>
        <main class="flex flex--row">
          <nav>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/animals"> All Animals </a>
              </li>
              <li>
                <a href="/owners"> All Owners </a> </p>
              </li>
              <li>
                <a href="/adoption/index"> All adoptions </a>
              </li>
              <li>
                <a href="/adoption/new"> Asign an animal to a new owner </a>
              </li>
            </ul>
          </nav>
        <section id="content">
          <%= yield %>
       </section>
     </body>

  </html>
