<!DOCTYPE html>
  <html>
    <head>
      <title>Animal Shelter</title>

      <link rel="icon" href="/images/house.png">

      <link rel="stylesheet" type="text/css" href="/styles/structure.css">
      <link rel="stylesheet" type="text/css" href="/styles/forms.css">
      <link rel="stylesheet" type="text/css" href="/styles/buttons.css">

    </head>
    <body>
      <nav>
          <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/animals"> All Animals </a>
          </li>
          <li>
            <a href="/owners"> All Owners </a> </p>
          </li>
          <li>
            <a href="/adoption/index"> All adoptions </a>
          </li>
          <li>
            <a href="/adoption/new"> Asign an animal to a new owner </a>
          </li>
          </ul>
        </nav>
      <main class="flex flex--row">
      <section id="content">
      <%= yield %>
      </section>
    </body>

  </html>
