<!DOCTYPE html>
  <html>
    <head>
      <title>Animal Shelter</title>
      <link rel="icon" href="/images/animal_shelter.png">
    </head>
    <body>
      <%= yield %>

      <p> MENU: </p>
      <p> <a href="/animals"> All Animals </a> </p>
      <p> <a href="/owners"> All Owners </a> </p>
      <p> <a href="/adoption/new"> Asign an animal to a new owner </a></p>
      <p> <a href="adoption/index"> All adoptions </a> </p>
      <p> <a href="/">Home</a></p>

    </body>
  </html>
