/* input[type=text] {
    width: 20%;
    padding: 3px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 30px;
    align-content: space-around;
} */
/* input[type=date] {
   width: 20%;
   border-radius: 4px;
   margin-right: 30px;
 } */

select {
    /* width: 20%; */
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    /* margin-top: 20px;
    margin-left: 10px; */
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #AAABD3;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 7%;
    font-size: 15px;
}

.add-form {
  width: 40%;
  margin: auto;
}

.input-form {

  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 20px;
}
.select-form {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 20px;
}

label {
  text-align: left;
  color: white;
  font-weight: lighter;

}

div.form {
  margin-top: 60px;
}
