body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #353866;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color:#F8FAFF;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 100px;
}

h2 {
  color: white;
  font-weight: lighter;
}

h3 {
  font-size: 30px;
  color: #F8FAFF;
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 50px;

}

nav {
  min-width: 703px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AAABD3;
    margin-bottom: 20px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


a:hover, a:active, a:focus {
  color: #353866;
}

p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

p a {
  color: #AAABD3;
  font-size: 15px;
}
 p a:hover {
   color: #CBA6C3;
 }


 #content {
   padding-left: 25px;
   padding-right: 25px;
   margin-top: 50px;
 }
