<h3>Here's a list of all our potential owners</h3>

<% for owner in @owners %>

  <p><%= owner.full_name() %></p>

  <p> <a href="/owners/<%=owner.id%>"> Show Details </a> </p>

<% end%>

<p> <a href="/owner/new"> Add a new owner </a> </p>
