<h3>New Owner</h3>

<div class="form">
  <form action="/owners" method="post">
    <div class="new-owner">
      <label for="first_name"></label>
      <input type="text" name="first_name" placeholder="First name"><br>

      <label for="last_name"></label>
      <input type="text" name="last_name" placeholder="Last name"><br>

      <label for="email"></label>
      <input type="email" name="email" placeholder="Email"><br>

      <label for="address"></label>
      <input type="text" name="address" placeholder="Address">
    </div>
    <input class="btn btn--action" type='submit' value="Add">
  </form>
</div>
