<h3>New Owner</h3>

<div>
  <form action="/owners" method="post">
    <p>First name:
    <input type="text" name="first_name"><br></p>
    <p>Last name:
    <input type="text" name="last_name"></br></p>
    <input class="btn btn--action" type='submit' value="Add">
  </form>
</div>
